<%- include("partials/header.ejs") %>
        <!-- About -->
        <div class="container px-4">
            <ul style="padding-left: 0px; padding-right: 0px;">
                <li class="border rounded-3 px-4 pt-3 pb-2 mb-4">
                    <h2 class="ps-2">About this project</h2>
                    <hr>
                    <p>This project, crafted during my exploration of SQL, showcases my dedication to continuous learning and practical application of modern technologies.</p>
                    <p>Introducing a SQL database association elevates the project's functionality, providing a robust foundation for data storage and retrieval. Leveraging the power of SQL enhances the project's capabilities and opens avenues for scalability.</p>
                    <p>While prioritizing the seamless integration of Node.js, Express, and EJS, the inclusion of a SQL database introduces a structured approach to data management. This decision aligns with industry best practices, ensuring data integrity and efficient data handling.</p>
                    <p>Throughout the development process, I navigated and conquered challenges related to database schema design, SQL queries, and database interactions. These experiences contributed to the refinement of my problem-solving skills and deepened my understanding of web development practices.</p>
                    <p>The project's simplicity and user-friendly interface persist, now complemented by the robustness of SQL-backed data storage. Users can create, retrieve, and share content effortlessly, making the platform more versatile and feature-rich.</p>
                </li>
                <li class="border rounded-3 px-4 pt-3 pb-2 mb-4">
                    <h2 class="ps-2">About me</h2>
                    <hr>
                    <p>Hello, I'm Marco, a passionate full-stack developer. I thrive on turning ideas into functional and visually appealing solutions.</p>
                    <p>With hands-on experience in Python, JavaScript, Flask, Node.js, and much more, I enjoy the dynamic nature of web development and the constant learning it demands.</p>
                    <p>You can find more about my professional journey and explore my portfolio on my <a href="https://krathus88.github.io/Personal-Website/" style="text-decoration: none;">personal website</a>. There, I delve into my experiences, skills, and share insights into my approach to development.</p>
                    <p>I believe in the power of technology to shape the future, and I'm excited to be a part of that journey.</p>
                </li>
            </ul>
        </div>
<%- include("partials/footer.ejs") %>