<%- include("partials/header.ejs") %>
        <!-- About -->
        <div class="container px-4">
            <ul style="padding-left: 0px; padding-right: 0px;">
                <li class="border rounded-3 px-4 pt-3 pb-2 mb-4">
                    <h2 class="ps-2">About this project</h2>
                    <hr>
                    <p>This project, crafted during my exploration of Node.js and EJS, is a testament to my commitment to continuous learning and hands-on application of emerging technologies.</p>
                    <p>While the absence of a database association is intentional, emphasizing the focus on demonstrating the seamless integration of Node.js and EJS, it's essential to note the careful consideration given to user experience. The design is not only aesthetically pleasing but also responsive, ensuring a delightful experience across various devices.</p>
                    <p>Throughout the development journey, I encountered and successfully overcame challenges, refining my problem-solving skills and reinforcing my passion for web development.</p>
                    <p>One of the project's highlights is its simplicity and user-friendly interface, allowing users to create and share content effortlessly. The decision to avoid database interactions contributes to the project's lightweight and easy-to-understand nature.</p>
                </li>
                <li class="border rounded-3 px-4 pt-3 pb-2 mb-4">
                    <h2 class="ps-2">About me</h2>
                    <hr>
                    <p>Hello, I'm Marco, a passionate full-stack developer. I thrive on turning ideas into functional and visually appealing solutions.</p>
                    <p>With hands-on experience in Python, JavaScript, Flask, Node.js, and much more, I enjoy the dynamic nature of web development and the constant learning it demands.</p>
                    <p>You can find more about my professional journey and explore my portfolio on my <a href="https://krathus88.github.io/Personal-Website/" style="text-decoration: none;">personal website</a>. There, I delve into my experiences, skills, and share insights into my approach to development.</p>
                    <p>I believe in the power of technology to shape the future, and I'm excited to be a part of that journey.</p>
                </li>
            </ul>
        </div>
<%- include("partials/footer.ejs") %>